<div class="content">
  <h1>Your Todo App</h1>
  <input type="text" ng-model="search" placeholder="Search Your Todo" />
  <ul id="todo-list">
    <li ng-repeat="todo in todos | orderBy:order | filter:search">
      <div ng-click="statusOfTodo(todo)">
        <h3>
          <span style="text-decoration: {{ todo.style }}">{{todo.list}}</span>
        </h3>
        <div class="remove" ng-click="removeTodo(todo)">x</div>
      </div>
    </li>
  </ul>
  <form ng-submit="addDetails()" name="todoForm">
    <input
      type="text"
      placeholder="Enter Todo"
      ng-model="newTodo.list"
      ng-required="true"
      name="todo"
    />
    <div ng-show="todoForm.todo.$touched && todoForm.todo.$invalid">
      <small style="color: red; text-align: center; display: block"
        >Enter a Todo</small
      >
    </div>
    <input type="submit" value="Add Todo" ng-disabled="todoForm.$invalid" />
  </form>
  <button ng-click="removeAllTodo()">Remove All</button>
</div>
